<nav class="query-panel__navbar">
  <ul class="query-panel__navbar-items">
    <li class="query-panel__navbar-item {{if (eq currentView 'QUERY_HEADERS') 'active' ''}}">
      <a href="#" {{action "selectView" "QUERY_HEADERS"}}>Headers</a>
    </li>
    <li class="query-panel__navbar-item {{if (eq currentView 'QUERY_PAYLOAD') 'active' ''}}">
      <a href="#" {{action "selectView" "QUERY_PAYLOAD"}}>Payload</a>
    </li>
  </ul>
</nav>

{{#if (eq currentView "QUERY_HEADERS")}}
  <section class="query-panel__headers">
    <KeyValueEditor @keyHeader="Header name" @valueHeader="Header value" @data={{this.request.headers}} />
  </section>
{{/if}}

{{#if (eq currentView "QUERY_PAYLOAD")}}
  <section class="query-panel__payload">
    {{ivy-codemirror
      value=request.body
      options=(hash lineNumbers=true)
      valueUpdated=(action (mut request.body))}}
  </section>
{{/if}}
