<div class="panel__header">
  <div class="panel__header-left-column">
    <span class="panel__title">Request</span>
    {{#if command.resource.name}}
      <span class="request-panel__name">{{command.resource.name}}</span>
    {{/if}}
  </div>
  <div class="panel__header-right-column">
    <button class="panel__header-action" title="Save request" {{action this.onSaveRequest command}}>{{fa-icon "save"}}</button>
    <button class="panel__header-action" title="Clear request" {{action this.onCancelCommand}}>{{fa-icon "ban"}}</button>
  </div>
</div>

<div class="panel__body">
  <section class="request-panel__endpoint">
    {{#power-select
        options=methods
        selected=command.request.method
        class="resource-panel__method"
        searchEnabled=false
        tagName="div"
        onchange=(action (mut command.request.method)) as |method|}}
      {{method}}
    {{/power-select}}

    {{input class="resource-panel__url" type="text" value=command.request.url enter=(action this.onSendRequest command)}}
    <button class="btn btn--primary resource-panel__send-button" {{action this.onSendRequest command}}>Send</button>
  </section>

  <section class="request-panel__headers">
    <h3>Headers</h3>
    <div class="code-wrapper">
      {{ivy-codemirror
        value=command.request.headers
        options=(hash mode="yaml" lineNumbers=true)
        valueUpdated=(action (mut command.request.headers))}}
    </div>
  </section>

  <section class="request-panel__body">
    <h3>Payload</h3>
    <div class="code-wrapper">
      {{ivy-codemirror
        value=command.request.body
        options=(hash lineNumbers=true)
        valueUpdated=(action (mut command.request.body))}}
    </div>
  </section>
</div>