<h2 class="panel__title">Command <span class="request-panel__name">{{command.resource.name}}</span></h2>

<div class="panel__body">
  <section class="request-panel__endpoint">
    <span class="resource-panel__method resource-panel__method--{{lowercase command.request.method}}">{{command.request.method}}</span>

    {{input class="resource-panel__url" type="text" value=command.request.url enter=(action this.onSendRequest command)}}
    <button class="btn btn--primary resource-panel__send-button" {{action this.onSendRequest command}}>Send</button>
  </section>

  <section class="request-panel__headers">
    <h3>Headers</h3>
    <div class="code-wrapper">
      {{ivy-codemirror
        value=command.request.headers
        options=(hash mode="yaml" lineNumbers=true)
        valueUpdated=(action (mut command.request.headers))}}
    </div>
  </section>

  <section class="request-panel__body">
    <h3>Body</h3>
    <div class="code-wrapper">
      {{ivy-codemirror
        value=command.request.body
        options=(hash lineNumbers=true)
        valueUpdated=(action (mut command.request.body))}}
    </div>
  </section>
</div>