<h2 class="panel__title">Response</h2>

{{#if this.response}}

  <section class="response-panel__general">
    <div class="response-panel__request">
      <span class="response-panel__request-method">{{this.resource.fields.Method}}</span>
      <span class="response-panel__request-url">{{this.response.url}}</span>
    </div>
    <div class="response-panel__status response-panel__status--{{this.responseStatusType}}">
      <span class="response-panel__status-code">{{this.response.statusCode}}</span>
      <span class="response-panel__status-text">{{this.response.statusText}}</span>
    </div>
  </section>

  <section class="response-panel__headers">
    <h3>Headers</h3>
    <div class="code-wrapper">
      {{ivy-codemirror
        value=this.response.headers
        options=(hash mode="yaml" readOnly=true)}}
    </div>
  </section>

  <section class="response-panel__body">
    <h3>Body</h3>
    <div class="code-wrapper">
      {{ivy-codemirror
        value=this.response.body
        options=(hash mode="javascript" readOnly=true)}}
    </div>
  </section>

{{else}}
  <p>No HTTP Exchange</p>
{{/if}}
