<header class="app-header">
  <span class="app-brand">Pixman</span>
  <div class="app-actions">
    <button class="btn btn--secondary" {{action (mut isShowingSettingsModal) true}}>{{fa-icon "cog"}}</button>
    {{#link-to "disconnection"}}{{fa-icon "power-off"}}{{/link-to}}
  </div>
</header>

<div class="app-body">
  <main class="app-main">

    <ResourceExplorer
        @resources={{model}}
        @selectedResource={{selectedResource}}
        @onSelectResource={{action "selectResource"}}
        @onSaveResource={{action "createResource"}}
        @onImportResources={{action "importResources"}}
        @onReloadResources={{action "reloadResources"}}/>

    {{#if this.command}}
      <CommandEditor
          @command={{this.command}}
          @onSendRequest={{action "executeCommand"}}
          @onCancelCommand={{action "cancelCommand"}}
          @onSaveRequest={{action "updateResourceRequest"}}/>
    {{else}}
      <p>Please, select a resource</p>
    {{/if}}

    {{#if isShowingSettingsModal}}
      <SettingsModal
          @variables={{this.settings.variables}}
          @onClose={{action (mut isShowingSettingsModal) false}}
          @onSave={{action "saveSettings"}}/>
    {{/if}}

  </main>

</div>

<footer class="app-footer">
  <div>
    <a href="https://github.com/1024pix/pixman">{{fa-icon "github" prefix="fab"}}</a>
  </div>
</footer>
