<header class="app-header">
  <span class="app-brand">Pixman</span>
  <div class="app-actions">
    <button class="btn btn--secondary" {{action (action "editSettings")}}>{{fa-icon "cog"}}</button>
  </div>
</header>

<div class="app-body">
  <main class="app-main">

    <ResourceExplorer
        @resources={{model}}
        @selectedResource={{selectedResource}}
        @onSelectResource={{action "selectResource"}}
        @onSaveResource={{action "saveResource"}}
    />

    {{#if this.command}}
      <CommandEditor @command={{this.command}} @onSendRequest={{action "executeCommand"}} @onCancelCommand={{action "cancelCommand"}}/>
    {{else}}
      <p>Please, select a resource</p>
    {{/if}}
  </main>

  {{#if isShowingSettingsModal}}
    <SettingsModal
        @variables={{this.settings.variables}}
        @onClose={{action "cancelSettingsEdition"}}
        @onSave={{action "saveSettings"}}
    />
  {{/if}}

</div>
