<header class="app-header">
  <span class="app-brand">Pixman</span>
  <div class="app-actions">
    <button class="btn btn--secondary" {{action (action "editSettings")}}>{{fa-icon "cog"}}</button>
  </div>
</header>

<div class="app-body">
  <aside class="resource-explorer">
    <ResourceExplorer @resources={{this.model.records}} @onSelectResource={{action "selectResource"}}/>
  </aside>

  <main class="resource-editor">

    {{#if this.selectedResource}}

      <RequestPanel @resource={{this.selectedResource}} @onSendRequest={{action "sendRequest"}}/>

      <ResponsePanel @resource={{this.selectedResource}} @response={{this.response}}/>
    {{else}}
      <p>Please, select a resource</p>
    {{/if}}

  </main>

  {{#if isShowingSettingsModal}}
    <SettingsModal @variables={{this.settings.variables}} @onCancelSettings={{action "cancelSettings"}} @onSaveSettings={{action "saveSettings"}}/>
  {{/if}}

</div>
